<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Kira_Clark_ID101_JEE3</display-name>

  <servlet>
    <description></description>
    <display-name>GradeController</display-name>
    <servlet-name>GradeController</servlet-name>
    <servlet-class>controller.StudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GradeController</servlet-name>
    <url-pattern>/GradeController</url-pattern>
  </servlet-mapping>
</web-app>